<h1>Login</h1>
<form {{action "login"}}>
<label>Username</label>
{{input value=model.displayName}}
<br/>
<label>Password</label>
{{input value=model.password}}
<br/>
<button type="submit">Login!</button>
</form>
