<h1>Register</h1>
<form {{action "register"}}>
<label>Username</label>
{{input value=model.displayName}}
<br/>
<label>Password</label>
{{input value=model.password}}
<br/>
<button type="submit">Register!</button>
</form>
