<div class="row">
  <ul>
    {{#each game in model}}
      {{#if game.previousTurn.isDrawing}}
        {{image-renderer imageModel=game.previousTurn.drawing}}
      {{else}}
        <li>{{#link-to "game.respond" game}}{{game.previousTurn.label}}{{/link-to}}</li>
      {{/if}}
    {{/each}}
  </ul>
</div>
